# Study Summary

DataFrame新增或刪除
增加行（欄）: =
新增列（資料）:append()
刪除行（欄）: del or pop()
刪除列（欄）: drop()

In [96]:
import pandas as pd #直

df = pd.DataFrame([[1], [2]], columns = ['a'])
print(df)

   a
0  1
1  2

### = 可以用來增加行（欄）

In [99]:
#直
x = 3
y = 4
df['b'] = pd.Series([x, y])
print(df)

   a  b  c
0  1  3  5
1  2  4  6

In [100]:
df['c'] = pd.Series([5, 6])
print(df)

   a  b  c
0  1  3  5
1  2  4  6

### append() 可以用來新增列（資料）
### 利用 reset_index() 修正index

In [101]:
#橫
df = df.append(pd.DataFrame([[3, 5, 7]], columns = ['a', 'b', 'c']))
print(df)
print("------------------------------")
df = df.reset_index(drop=True)
print(df)

   a  b  c
0  1  3  5
1  2  4  6
0  3  5  7
------------------------------
   a  b  c
0  1  3  5
1  2  4  6
2  3  5  7

### del 或 pop() 可以用來刪除行（欄）

In [102]:
del df['a']
print(df)
print("---------------------")
df.pop('c')
print(df)

   b  c
0  3  5
1  4  6
2  5  7
---------------------
   b
0  3
1  4
2  5

### drop() 可以用來刪除列（資料）

In [104]:
df = df.drop(2)
print(df)

   b
0  3
1  4

## DataFrame 的合併與重組
### 聯集（Concat）

In [110]:
one = pd.DataFrame({
    'id':['A001', 'A002'],
    'Name': ['Alex', 'Amy'],
})
two = pd.DataFrame({
    'id':['A003', 'A004'],
    'Name': ['Bob', 'Tom']
})

df = pd.concat([one, two]).reset_index(drop=True)
print(df)

     id  Name
0  A001  Alex
1  A002   Amy
2  A003   Bob
3  A004   Tom

### 合併（merge on）

In [111]:
one = pd.DataFrame({
    'id':[1, 2],
    'Name': ['Alex', 'Amy'],
})
two = pd.DataFrame({
    'id':[1, 2],
    'Score': [98, 60]
})

pd.merge(one, two, on='id').reset_index(drop = True)

   id  Name  Score
0   1  Alex     98
1   2   Amy     60

### 不同的 merge 規則

In [113]:
one = pd.DataFrame({
    'Name': ['Alex', 'Amy']
})
two = pd.DataFrame({
    'Score': [98, 60]
})

one.join(two)

   Name  Score
0  Alex     98
1   Amy     60

In [138]:
one = pd.DataFrame({'player':['彭政閔','林智勝','郭阜林','詹子賢'],
                        'number':[23,32,5,39]})
two = pd.DataFrame({'player':['彭政閔','測試','林智勝','詹子賢'],
                        'team':['兄弟象','統一獅','兄弟象','兄弟象']})
dh = pd.merge(one, two, left_on = 'player', right_on = 'player')
df = pd.merge(one, two, how="left")
da = pd.merge(one, two, how="right")
print(dh)
print(df)
print(da)

  player  number team
0    彭政閔      23  兄弟象
1    林智勝      32  兄弟象
2    詹子賢      39  兄弟象
  player  number team
0    彭政閔      23  兄弟象
1    林智勝      32  兄弟象
2    郭阜林       5  NaN
3    詹子賢      39  兄弟象
  player  number team
0    彭政閔    23.0  兄弟象
1     測試     NaN  統一獅
2    林智勝    32.0  兄弟象
3    詹子賢    39.0  兄弟象

### 分組（Group）

In [139]:
df = pd.DataFrame({
  'A' : ['foo', 'bar', 'foo', 'bar'],
  'B' : ['one', 'one', 'two', 'three'],
  'C' : [1,2,3,4],
  'D' : [10, 20, 30, 40]
})
df

     A      B  C   D
0  foo    one  1  10
1  bar    one  2  20
2  foo    two  3  30
3  bar  three  4  40

In [141]:
dh = df.groupby('A').sum()
df = df.groupby('A').agg(sum)
da = df.groupby(['A','B']).sum()
print(dh)
print(df)
print(da)

     C   D
A
bar  6  60
foo  4  40
     C   D
A
bar  6  60
foo  4  40
   C   D
A  6  60
B  4  40

# Homework

### 依照 fruit 欄位做合併
### 依照 index 索引做合併

In [9]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print("------------------------")
print(df2)

    fruit  weight  price
0   apple    high     11
1  banana  medium      7
2  orange     low      1
3   apple    high     14
4  banana  medium     10
5  orange     low      0
6   apple    high      7
7  banana  medium      7
8  orange     low      0
------------------------
    fruit weight  price
0   apple   high     13
1  orange    low      4
2    pine   high      7
3   apple    low      7
4  orange   high      3
5    pine    low      8

### 依照 fruit 欄位做合併

In [10]:
df = pd.merge(df1, df2, on = 'fruit')
df

     fruit weight_x  price_x weight_y  price_y
0    apple     high       11     high       13
1    apple     high       11      low        7
2    apple     high       14     high       13
3    apple     high       14      low        7
4    apple     high        7     high       13
5    apple     high        7      low        7
6   orange      low        1      low        4
7   orange      low        1     high        3
8   orange      low        0      low        4
9   orange      low        0     high        3
10  orange      low        0      low        4
11  orange      low        0     high        3

### 依照 index 索引做合併

In [11]:
df1.join(df2)

ValueError: columns overlap but no suffix specified: Index(['fruit', 'weight', 'price'], dtype='object')

### [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？
ans: 兩邊都存在同樣的資料，才會merge

### [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。
ans: column name和data重複，故無法合併，才會出現錯誤

In [23]:
import pandas as pd
import numpy as np
df4 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df5 = pd.DataFrame({
    'fruit': ['apple1', 'orange2', 'pine3'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df4)
print("------------------------")
print(df5)

    fruit  weight  price
0   apple    high      1
1  banana  medium     13
2  orange     low      7
3   apple    high     12
4  banana  medium     11
5  orange     low      0
6   apple    high      0
7  banana  medium      6
8  orange     low     14
------------------------
     fruit weight  price
0   apple1   high      0
1  orange2    low     11
2    pine3   high      5
3   apple1    low      7
4  orange2   high      9
5    pine3    low     13

In [26]:
df4.join(df5, lsuffix='df4', rsuffix='df5')

  fruitdf4 weightdf4  pricedf4 fruitdf5 weightdf5  pricedf5
0    apple      high         1   apple1      high       0.0
1   banana    medium        13  orange2       low      11.0
2   orange       low         7    pine3      high       5.0
3    apple      high        12   apple1       low       7.0
4   banana    medium        11  orange2      high       9.0
5   orange       low         0    pine3       low      13.0
6    apple      high         0      NaN       NaN       NaN
7   banana    medium         6      NaN       NaN       NaN
8   orange       low        14      NaN       NaN       NaN