# Study Summary

1. to_period() 取Y、M、D、H的應用
2. resample 函數將年轉成季，如沒有值的填上 nan
   Y: 年; Q: 季; M: 月; D: 日 
   resample('Q', convention='start').asfreq()
3. 沿著時間軸將資料前移或後移 shift(number of day, freq = 'n')
4. 時間需要使用 pd.Timestamp() 做設定
4-1. 時間跟字串可以互相轉換
     時間轉字串 strftime('%Y-%m_%d')
     字串轉時間 to_datetime()
4-2. timestamps 常用函數
     年月日 date.year, date.month, date.day
     星期 day_name()
     週數 weekofyear
4-3. Timestamps 可以直接加時間或是計算時間差距

時間序列的資料非常注重間的間隔
控制時間長度的函數.to_period()，
參數 freq 代表時間頻率(Y：年、M：月、D：日、H：小時)

1. to_period() 取Y、M、D、H的應用

In [27]:
import pandas as pd

df = pd.DataFrame({"y": [1, 2, 3]},
                  index=pd.to_datetime(["2023-03-31 04:00:00",
                                        "2023-05-31 06:05:00",
                                        "2023-08-31 08:00:50"]))
df

                     y
2023-03-31 04:00:00  1
2023-05-31 06:05:00  2
2023-08-31 08:00:50  3

In [32]:
df.to_period('Y'), df.to_period('M'), df.to_period('D'), df.to_period('H')

(      y
 2023  1
 2023  2
 2023  3,
          y
 2023-03  1
 2023-05  2
 2023-08  3,
             y
 2023-03-31  1
 2023-05-31  2
 2023-08-31  3,
                   y
 2023-03-31 04:00  1
 2023-05-31 06:00  2
 2023-08-31 08:00  3)

2. resample 函數將年轉成季，如沒有值的填上 nan
   Y: 年; Q: 季; M: 月; D: 日 
   resample('Q', convention='start').asfreq()

In [61]:
import pandas as pd

df = pd.Series([1, 2, 3, 4, 5], index=pd.period_range('2021-01-01', freq='Y', periods=5))
df

2021    1
2022    2
2023    3
2024    4
2025    5
Freq: A-DEC, dtype: int64

In [62]:
df.resample('Q', convention='start').asfreq()

2021Q1    1.0
2021Q2    NaN
2021Q3    NaN
2021Q4    NaN
2022Q1    2.0
2022Q2    NaN
2022Q3    NaN
2022Q4    NaN
2023Q1    3.0
2023Q2    NaN
2023Q3    NaN
2023Q4    NaN
2024Q1    4.0
2024Q2    NaN
2024Q3    NaN
2024Q4    NaN
2025Q1    5.0
2025Q2    NaN
2025Q3    NaN
2025Q4    NaN
Freq: Q-DEC, dtype: float64

2-1. 找到特定時間點的資料

In [63]:
df['2021Q1':'2023Q4']

2021    1
2022    2
2023    3
Freq: A-DEC, dtype: int64

3. 沿著時間軸將資料前移或後移 shift(number of day, freq = 'n')

In [70]:
ts = pd.date_range('2023-01-01', periods = 5)
ts

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05'],
              dtype='datetime64[ns]', freq='D')

In [73]:
#往前移動2天
ts.shift(-2, freq='D')

DatetimeIndex(['2022-12-30', '2022-12-31', '2023-01-01', '2023-01-02',
               '2023-01-03'],
              dtype='datetime64[ns]', freq='D')

In [74]:
#往後移動2天
ts.shift(2, freq='D')

DatetimeIndex(['2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06',
               '2023-01-07'],
              dtype='datetime64[ns]', freq='D')

4. 時間需要使用 pd.Timestamp() 做設定

In [85]:
#type: 字串
str_date = '2021-01-01'

#type: timestamp
date = pd.Timestamp(2021,1,1)

(str_date, type(str_date)),(date, type(date))

(('2021-01-01', str),
 (Timestamp('2021-01-01 00:00:00'), pandas._libs.tslibs.timestamps.Timestamp))

4-1. 時間跟字串可以互相轉換
     時間轉字串 strftime('%Y-%m_%d')
     字串轉時間 to_datetime()

In [86]:
#時間轉字串 strftime('%Y-%m_%d')
date_to_str = date.strftime('%Y-%m_%d')

#字串轉時間 to_datetime()
str_to_date = pd.to_datetime(str_date)

(date_to_str, type(date_to_str)), (str_to_date, type(str_to_date))

(('2021-01_01', str),
 (Timestamp('2021-01-01 00:00:00'), pandas._libs.tslibs.timestamps.Timestamp))

4-2. timestamps 常用函數
     年月日 date.year, date.month, date.day
     星期 day_name()
     週數 weekofyear

In [87]:
date

Timestamp('2021-01-01 00:00:00')

In [91]:
#年月日 date.year, date.month, date.day
date.year, date.month, date.day

(2021, 1, 1)

In [95]:
#星期 day_name()
date.day_name()

'Friday'

In [93]:
#週數 weekofyear
date.weekofyear

53

4-3. Timestamps 可以直接加時間或是計算時間差距

In [96]:
date2 = pd.Timestamp(2021,1,11)
date, date2

(Timestamp('2021-01-01 00:00:00'), Timestamp('2021-01-11 00:00:00'))

In [97]:
date2 - date #相差10天

Timedelta('10 days 00:00:00')

In [98]:
#反驗證
date + pd.Timedelta(days=10) == date2

True

# Homework

題目：運下列時間序列資料做運算

index = pd.date_range("1/1/2019", periods=20, freq='D')
series = pd.Series(range(20), index=index)

1. 將所有轉為周資料
2. 將周資料的值取平均

In [140]:
import pandas as pd

index = pd.date_range("2023/01/01", periods=20, freq='D')
series = pd.Series(range(20), index=index)
series

2023-01-01     0
2023-01-02     1
2023-01-03     2
2023-01-04     3
2023-01-05     4
2023-01-06     5
2023-01-07     6
2023-01-08     7
2023-01-09     8
2023-01-10     9
2023-01-11    10
2023-01-12    11
2023-01-13    12
2023-01-14    13
2023-01-15    14
2023-01-16    15
2023-01-17    16
2023-01-18    17
2023-01-19    18
2023-01-20    19
Freq: D, dtype: int64

1. 將所有轉為周資料

In [141]:
series.to_period('W') #1/1是禮拜日，所天每周日為一週，1/1的下周日是1/8

2022-12-26/2023-01-01     0
2023-01-02/2023-01-08     1
2023-01-02/2023-01-08     2
2023-01-02/2023-01-08     3
2023-01-02/2023-01-08     4
2023-01-02/2023-01-08     5
2023-01-02/2023-01-08     6
2023-01-02/2023-01-08     7
2023-01-09/2023-01-15     8
2023-01-09/2023-01-15     9
2023-01-09/2023-01-15    10
2023-01-09/2023-01-15    11
2023-01-09/2023-01-15    12
2023-01-09/2023-01-15    13
2023-01-09/2023-01-15    14
2023-01-16/2023-01-22    15
2023-01-16/2023-01-22    16
2023-01-16/2023-01-22    17
2023-01-16/2023-01-22    18
2023-01-16/2023-01-22    19
Freq: W-SUN, dtype: int64

In [142]:
#計算幾週
index.isocalendar().week #三週

2023-01-01    52
2023-01-02     1
2023-01-03     1
2023-01-04     1
2023-01-05     1
2023-01-06     1
2023-01-07     1
2023-01-08     1
2023-01-09     2
2023-01-10     2
2023-01-11     2
2023-01-12     2
2023-01-13     2
2023-01-14     2
2023-01-15     2
2023-01-16     3
2023-01-17     3
2023-01-18     3
2023-01-19     3
2023-01-20     3
Freq: D, Name: week, dtype: UInt32

2. 將周資料的值取平均

In [147]:
series.resample('W', convention='start').mean()

2023-01-01     0.0
2023-01-08     4.0
2023-01-15    11.0
2023-01-22    17.0
Freq: W-SUN, dtype: float64